body {
  background-color: rgb(218, 225, 226);
}

.header__logo {
  flex-shrink: 0;
}

.menu {
  display: flex;
  background-color: slateblue;
}

.menu__item {
  width: 25%;
  transition: 0.5s;
}

.menu__item:hover {
  width: 30%;
  background-color: darkslateblue;
}

.menu__link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1em;
  text-align: center;
}

.search__form {
  display: flex;
  height: 40px;
}

.search__text {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 1rem;
  border: none;
}

.search__submit {
  color: white;
  background-color: slateblue;
  border: none;
  border-radius: 0.3em;
  width: 4em;
  flex-shrink: 0;
}

.info__list__item {
  display: flex;
  margin: 0.5em 0;
}
.info__list__item:before {
  content: "❤";
  margin-right: 0.5em;
}

.message__list__item {
  display: flex;
  margin-bottom: 1.5rem;
}

.user__photo {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border: 2px solid pink;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.user__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__item {
  margin-bottom: 2rem;
}
.card__item__img {
  height: 0;
  padding-bottom: 60%;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__item__text {
  padding: 1em;
  background-color: white;
}

.modal__container {
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__text {
  width: 300px;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
}
