.header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.header__logo {
  flex-shrink: 0;
}

.primary {
  padding: 1rem;
}

.search__form {
  width: 300px;
}

.aside {
  padding: 2rem 1rem;
  background-color: white;
}

.aside__b {
  background-color: #666;
  color: white;
}

.info__list {
  margin-bottom: 2rem;
}

.footer {
  padding: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

@media (min-width: 600px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
  }

  .card__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 1em;
  }

  .card__item__text {
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  .card__item {
    width: 33.333%;
  }
}

.modal__container {
  display: none;
}

label[for="modal__opener"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

label[for="modal__opener"]::before {
  content: "🖤";
}

#modal__opener {
  display: none;
}

#modal__opener:checked ~ .modal__container {
  display: flex;
}

#modal__opener:checked ~ label[for="modal__opener"]::before {
  content: "💗";
}

.search__form {
  margin-right: 3rem;
}

@media (min-width: 1000px) {
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  .header,
  .menu,
  .footer {
    width: 100%;
  }

  .aside {
    max-width: 300px;
    width: 20%;
  }

  .aside__a {
    order: 1;
  }

  .primary {
    order: 2;
    flex-grow: 1;
    width: 60%;
  }

  .aside__b {
    order: 3;
  }

  .footer {
    border-top: 1px solid lightgrey;
    order: 4;
  }
}
